.main {
  display: grid;
  grid-column: 2/ 12;
  grid-row: 2/8;
}
.hero {
  display: flex;
  height: 450px;
}
.video {
  background-color: grey;
  flex: 1;
}

.more {
  display: flex;
}
.callAction {
  flex: 1;
  align-self: center;
}

.callAction > a {
  margin-top: 20px;
  padding: 30px;
  max-width: 50px;
}

.description {
  justify-self: start;

  flex: 2;
}

.block {
  width: 250px;
  padding: 20px;
  background-color: rgba(235, 235, 235, 0.788);
}

.block > h3 {
  color: black;
}
.block > p {
  color: gray;
}
.about {
  margin-top: 14%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.info {
  grid-column: 3/9;
}
