.navbar-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  justify-content: space-around;
  align-items: center;
}

.navbar-list > li > a {
  text-decoration: none;
  color: black;
}

.active {
  border-bottom: 2px solid orange;
}
.navbar-list > li {
  height: 30px;
}

.navbar {
  grid-column: 4 / 12;
}
